mist
history
*.png
*.jpg
*.hex
*.lxt
*.bin
*.raw
*.log
*.wav
*.xml
*.f
*.fst
test.cpp
game_test.v
test.shm
rom/*.rom
rom/mra/*.arc
rom/mra/*.rom
cores/*/mist/*
cores/*/mc2/*
cores/*/mcp/*
cores/*/mister/*
cores/*/neptuno/*
cores/*/pocket/*
cores/*/sidi/*
core.def
defmacros.h
log
waiver